<form name="new-player" action"/begin" method="post">
      <h2> What's your name? </h2>
      <input type="text" id="name" name="player" placeholder="player name" autofocus>
      <input type="submit" value="Submit!">
</form>