<h2> Welcome to Rock Paper Scissors, <%= @name %> </h2>
<h3> You are fighting against Skynet! Choose your weapon!! <h3>

<form name="weapon-choice" action="/play" method="post"%>
    <input type="hidden" name="weapon" value="">
    <input type="radio" name="weapon" value="rock">ROCK
    <input type="radio" name="weapon" value="scissors">SCISSORS
    <input type="radio" name="weapon" value="paper">PAPER
    <input type="submit" value="FIGHT!">
</form>
